@media (min-width: 640px) {
	/*nav ul {
		display: flex;

	}
	nav ul li {
		flex: 1 1 100%;
	}*/

	#myButton{
		display: none;
	}

	ul.menuLinks, ul.menuLinks.open{
		display: flex;
		justify-content: center;
	}

	ul.menuLinks a:hover {
		color: #000;
		background-color: #fff;
	}

	.grid-container {
        grid-template-columns: 2fr 1fr;
    }
	.spotlight-grid-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
    
}

