@media (min-width: 640px) {
	/*nav ul {
		display: flex;

	}
	nav ul li {
		flex: 1 1 100%;
	}*/

	#myButton{
		display: none;
	}

	ul.menuLinks, ul.menuLinks.open{
		display: flex;
		justify-content: center;
	}

	ul.menuLinks a:hover {
		color: #000;
		background-color: #fff;
	}

	.grid-container {
        grid-template-columns: 2fr 1fr;
		max-width: none;
		width: 90%;
    }
	.spotlight-grid-container {
		grid-template-columns: 1fr 1fr 1fr;
		max-width: none;
		width: 90%;
	}

	.image-grid img:hover {
        transform: scale(1.1); 
        transition: transform 0.3s ease; 
    }

	.layout-container {
		grid-template-columns: minmax(250px, auto) 3fr;
	}

	.sidebar {
		width: 400px;
	}

	.form-container {
        grid-template-columns: 1fr 1fr;
	}

	.list article {
		grid-template-columns: repeat(6, 1fr);
		gap: 10px;
	}


	.banner {
        font-size: 1.5rem;
    }

	.closeButton {
		padding: 10px 20px;
		top: 10px;
    	right: 10px;
	}

	.hero h1{
		font-size: 2rem;
	}

	.call-button {
		padding: 10px 20px;
		font-size: 1rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); 
	}

}